.panelmain{
  height: max-content;
  width: max-content;
  padding: 1rem;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  margin-right: 1.2rem;
  margin-left: 1.2rem;
  border-radius: 1.2rem;
  background-color: #FFFF;
}
.panelsecondary{
  height: max-content;
  width: max-content;
  padding: 1rem;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  margin-right: 1.2rem;
  margin-left: 1.2rem;
  border-radius: 1.2rem;
  background-color: #FFFF;
  box-shadow: inset 0rem 0rem 1rem #7d7f8a;
  
}
.panelcurved{
  height: max-content;
  width: max-content;
  padding: 1rem;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  margin-right: 1.2rem;
  margin-left: 1.2rem;
  border-radius: 3rem;
  background-color: #FFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0rem 0rem 1rem #7d7f8a;
}

  
